/* CSS: style.css */

@font-face {
  font-family: GenshinImpact;
  src: url(fonts/zh-cn.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GenshinImpact';
  
}
.calendar-title {
  font-size: 2rem;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}



body {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background:url(sakura2.jpg);
  background-position: center;
  background-size: cover;
}
.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons {
  display: flex;
}
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar {
  padding: 20px;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
  position: relative;
}
.calendar .days li {
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
  background-color: #9B59B6;
  border-radius: 50%;
  padding: 10px;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #9B59B6;
}
.days li:not(.active):hover::before {
  background: #f2f2f2;
}
.days li.event::before {
  background: #f39c12;
}
.days li:hover .event-tooltip {
  display: block;
}
.event-tooltip {
  display: none;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background:violet;
  color: #000000;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;
  z-index: 10;
  font: bold;
}
